<%- provide(:title, 'About Zumba') -%>
<div class="about">
	<p>Zumba (pronounced Zoom buh) is an exciting fitness program combining simple and Latin inspired dance moves with international music.</p>
	<p align="center" style="margin-top:25px;">Top ten reasons for joining Zumba!</p>
	<ol>
		<li>Lose 800-1000 calories in an hour</li>
		<li>​Fit fun into a busy schedule</li>
		<li>Build endurance and coordination</li>
		<li>Gain confidence</li>
		<li>Burn fat, maintain healthy weight</li>
		<li>Strengthen your heart and lungs</li>
		<li>Increase circulation and flexibility</li>
		<li>Tone muscles</li>
		<li>Releases inhibitions</li>
		<li>Reduce stress, clear your mind</li>
	</ol>
</div>
<div class="vids">
	<div class="space"></div>
	<iframe width="400" height="225" src="http://www.youtube.com/embed/nzm3jO_yQno" frameborder="0" allowfullscreen></iframe>
	<div class="space"></div>
	<iframe width="400" height="225" src="http://www.youtube.com/embed/Kzpp_BxFJYQ" frameborder="0" allowfullscreen></iframe>
</div>