<% provide(:title, "Calendar")%>
<div class="cal">
    <h3 align="center">$7/class or $60/ ten classes</h3>
    <p>Each class brings an exciting mix of songs that are sure to keep you moving the whole time! Each playlist is made with everyone in mind and consists of a mix of different types of music to suit each person's preference!<br/>Feel free to <%= link_to "contact us", contact_path %> with your song requests! We'd love to hear from you.</p><br/>
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=rbaeddk94qi1lfduj9u6ogev48%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="1000" height="625" frameborder="0" scrolling="no"></iframe>

</div>