<%- provide(:title, raw("FAQ's")) -%>
<h3 align="center">Click on the question to see the answer</h3>
<div class="faq">
			<a title="click to expand" href="javascript:togglebar('001')">Where are we located?</a><br/> 
		<div class="hiddenbar" id="001">We are located in a dance studio in Lakewood. Call or text 732.806.1084 for the exact address.<br/></div>
			<a title="click to expand" href="javascript:togglebar('002')">How do I reserve for a specific class?</a><br /> 
		<div class="hiddenbar" id="002">No need to reserve. Walk ins are always welcome.<br/></div>
			<a title="click to expand" href="javascript:togglebar('003')">How much does a class cost?</a><br/> 
		<div class="hiddenbar" id="003">The cost of one class is $7. Or you can purchase a punchcard, which is $60 for ten classes. (save $10)<br/></div>
			<a title="click to expand" href="javascript:togglebar('004')">Do I need to sign up?</a><br /> 
		<div class="hiddenbar" id="004">No signing up necessary. Pay as you go. There are no commitments.<br/></div>
			<a title="click to expand" href="javascript:togglebar('005')">Are the classes Co-ed?</a><br/> 
		<div class="hiddenbar" id="005">No, they are for Women only.<br/></div>
			<a title="click to expand" href="javascript:togglebar('006')">How long is a class?</a><br /> 
		<div class="hiddenbar" id="006">Approximately one hour.<br/></div>
			<a title="click to expand" href="javascript:togglebar('007')">What should I bring or wear?</a><br/> 
		<div class="hiddenbar" id="007">Dress as though you were to run at the gym. You should wear a good supportive shoe such as cross-trainers, or dance-specific sneakers. And bring water to drink!<br/></div>
			<a title="click to expand" href="javascript:togglebar('008')">I've never been to a Zumba class before. Will I be able to follow and keep up with the class?</a><br /> 
		<div class="hiddenbar" id="008">Yes. Zumba was created to be easy to follow. Everyone catches on within one or two classes.<br/></div>
			<a title="click to expand" href="javascript:togglebar('009')">How can I contact you with any questions, or submit a testimonial?</a><br /> 
		<div class="hiddenbar" id="009">Feel free to use the <%= link_to "CONTACT US", contact_path, style: "font-size:20px" %> page or call to get in touch with me.<br/></div>
</div>