<%- provide(:title, 'Home') -%>
<div class="par">
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "notice") %>
	<% end %>
	<h1 align="center">WELCOME!</h1> 
	<p align="justify">Are you ready to party yourself into shape? That’s exactly what the Zumba® program is all about.<br/>It's easy, fun, an excellent workout, and you won't even feel like you are exercising! It definitely has a "party" atmosphere which is less intimidating for people who may not be as coordinated as others.<br/>ZUMBA means "to move fast and have fun" and that's exactly what happens! It's the outlet every woman needs, moving her toward joy and health.<br/>"Zumba with Blimie" caters to the frum Lakewood community without compromising on the quality of dance or music.<br/>Join us for an awesome class to see for yourself what the craze is all about!</p>
</div>
<div class="splash"></div>