<%= provide(:title, "Contact Us") %>
<div class="cright">
	<h1 align="center">We'd love to hear from you!</h1>
	<p>Please leave us your comments or questions.</p>
</div>
<div class="cleft">
	
	<%= render :partial => 'contact_form' %>

</div>
<div class="faq">
	<h4>We will try to get back to you within 24 hours.</h4>
</div>