<div class="footer">
	<div class="footermenu">
		<ul>
			<%= render 'layouts/navlinks' %>
			<li style="border:none;"><%= link_to "Sitemap", sitemap_path %></li>
		</ul>
		<p>&#169; Copyright 2013 Lakewood Zumba &nbsp; &nbsp;<a class="login" href="http://blog.lakewoodzumba.com/wp-admin">admin-login</a></p>
	</div>
	<div class="footerdesign">
		<p>Website designed<br/>and created by<br/><span>Yoel Adler</span></p>
	</div>
</div>