<div class="footer">
	<div class="footermenu">
		<ul>
			<%= render 'layouts/navlinks' %>
			<li style="border:none;"> <a href="sitemap.xml">Site map</a></li>
		</ul>
		<p>&#169; Copyright 2013 Lakewood Zumba</p>
	</div>
	<div class="footerdesign">
		<p>Website designed<br/>and created by<br/><span>Yoel Adler</span></p>
	</div>
</div>