<div class="top">
	<img class="left" src="<%= asset_path 'logo1.png' %>" alt="Zumba with Blimie" border="0">
	<a href="https://www.facebook.com/blimie.zumba" target="_new"><img  class="right" src="<%= asset_path 'fb.png' %>" width="50" height="50"></a>
</div>
<div class="page">
<nav>
	<div class="navmenu">
		<ul>
			<%= render 'layouts/navlinks' %>

		</ul>
	</div>
	<div class="phone">
		<p><img src="<%= asset_path 'phone.png' %>" width="40" height="40" align="absmiddle"> <b>732.806.1084</b></p>
	</div>
</nav>