<div class="top">
	<div class="blog"><a href="http://blog.lakewoodzumba.com"><h2>CHECK OUT THE BLOG!!</H2></a></div>
	<img class="left" src="<%= asset_path 'logo1.png' %>" alt="Zumba with Blimie" border="0">
	<div id="social">
		<ul>
			<li><a href="https://www.facebook.com/blimie.zumba" target="_new"><div class="icon facebook"></div></a></li>
			<li><a href="http://instagram.com/blimiezumbalkwd" target="_new"><div class="icon instagram"></div></a></li>
		</ul>
		<div class="phone">
			<p><img src="<%= asset_path 'phone.png' %>" width="40" height="40" align="absmiddle"> <b>732.806.1084</b></p>
		</div>
	</div>
	
</div>
<div class="page">
<nav>
	<div class="navmenu">
		<ul>
			<%= render 'layouts/navlinks' %>

		</ul>
	</div>
</nav>